# Output of the go coverage tool
*.out

# Output of the go profiler and test
*.pdf
*.test

# Dep vendors
vendor
Gopkg.lock

# Secrets
cmd/secrets

# DS_Store
.DS_Store
.idea

# Binaries
cmd/register/register
cmd/deregister/deregister
cmd/epoch/epoch