# Output of the go coverage tool
*.out

# Output of the go profiler
*.pdf
cpu.prof
*.test

# Dep vendors
vendor

# Secrets
cmd/secrets

# DS_Store
.DS_Store
.idea

# Binaries
cmd/register/register
cmd/deregister/deregister
cmd/epoch/epoch

# Config files
*.json